* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

/* MOBILE FIRST */
.container {
  background-color: rgb(59, 57, 57);
  padding: 4rem;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.4rem;
  padding: 4rem;
  border: 2px solid white;
}

.item {
  background-color: rgb(94, 94, 194);
  border: 1px solid rgb(220, 214, 214);
  color: white;
/* 
  height: 100px;
  width: 100px; */

  /* justify-self: stretch; */
  /* align-self: center; */
  place-self: stretch;
}