* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

/* MOBILE FIRST */
.container {
  background-color: rgb(59, 57, 57);
  padding: 4rem;
  display: grid;
  height: 100%;
  width: 100%;
  gap: 1rem;

  /* One column layout */
  grid-template-columns: 1fr;
}

.item {
  background-color: rgb(94, 94, 194);
  border: 5px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

/* DESKTOP */
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .header,
  .footer {
    grid-column: 1 / 4;
  }

  .sidebar {
    grid-row: 2 / 4;
  }

  .content1 {
    grid-column: 2 / 4;
  }
}
