<div class="p-5 d-flex flex-column gap-4">
    <h3>{{userName}}</h3>
    <h3>{{userName | lowercase}}</h3>
    <h3>{{userName | uppercase}}</h3>
    <h3>{{userName | titlecase}}</h3>

    <!-- <h3>{{salary}}</h3>
    <h3>{{salary | currency}}</h3>
    <h3>{{salary | currency : 'INR'}}</h3> -->
    <h3>{{salary | currency : 'USD' : 'symbol'}}</h3>
    <div>{{date | date : 'shortTime'}}</div>
    <div>{{date | date : 'mediumTime'}}</div>
    <div>{{date | date : 'longTime'}}</div>
    <div>{{date | date : 'fullTime'}}</div>
    <div>{{date | date : 'dd-mm-yyyy'}}</div>
    <div>{{2.5 | percent}}</div>


    <!-- Custom Pipes  -->
    <textarea [(ngModel)]="message" maxlength="100"></textarea>
    <div>{{message}}</div>
    <div>{{message | remaining}}</div>







    <!-- Render2 Custom directoive-->
     <input  appAlphaNumeric>
</div>