<div class="container my-5">
    <div class="border overflow-auto" style="height: 300px;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">title</th>
                    <th scope="col">Completed</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of task; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ item.title }}</td>
                    <td>
                        <input type="checkbox" (change)="getTask(item)" [(ngModel)]="item.completed">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>