<div class="container text-center p-2 border border-2">
    <div class="row">
        This is Parent Component

        <div>My Own Data - {{a}}</div>


        <div>My Child2 data - {{child2.b}}</div>

        {{c_parent}}
    </div>
    <div class="row">
        <div class="com-sm-6">
            <app-child1-demo [a]="a" [b]="child2.b"></app-child1-demo>
        </div>
        <div class="com-sm-6">
            <app-child2-demo #child2 (eventToEmitCValue)="receiveDataFromChild2($event)"></app-child2-demo>
        </div>
    </div>
</div>