<footer class="bg-dark text-white text-center text-lg-start mt-5">
  <div class="container p-4">
    <div class="row">

      <div class="col-lg-6 col-md-12 mb-4">
        <h5>My Website</h5>
        <p>
          Welcome to our website. We provide quality services and solutions
          for our customers.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Home</a></li>
          <li><a href="#" class="text-white text-decoration-none">About</a></li>
          <li><a href="#" class="text-white text-decoration-none">Services</a></li>
          <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Contact</h5>
        <p>Email: info@example.com</p>
        <p>Phone: +91 98765 43210</p>
      </div>

    </div>
  </div>

  <div class="text-center p-3 bg-secondary">
    © 2026 My Website. All Rights Reserved.
  </div>
</footer>