<h3 class="text-center">User List</h3>

<div class="container">
  <div class="row">

    @for(user of userArr(); track $index){

    <div class="col-md-4 mb-4">
      <div class="card shadow p-3">

        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>

          <p class="card-text">
            <strong>Username:</strong> {{ user.username }}
          </p>

          <p class="card-text">
            <strong>Email:</strong> {{ user.email }}
          </p>

          <p class="card-text">
            <strong>Phone:</strong> {{ user.phone }}
          </p>

          <p class="card-text">
            <strong>Website:</strong> {{ user.website }}
          </p>

          <p class="card-text">
            <strong>City:</strong> {{ user.address.city }}
          </p>
        </div>

      </div>
    </div>

    }

  </div>
</div>