
<h1>-------------Custom Pipe------------</h1>


<textarea [(ngModel)]="msg" maxlength="100"></textarea>
<div>Message: {{msg}}</div>
<div>Message: {{msg | remaining}}</div>


<h1>-------------Custom Pipe End------------</h1>


<!-- 
<h1>Pure And Impure</h1>
@for(ele of numArr | mySort; track $index){
    <b>{{ele}} &nbsp</b>
} -->




<h3>{{userName | lowercase}}</h3>
<h3>{{userName | uppercase}}</h3>
<h3>{{userName | titlecase}}</h3>

<h3>{{slary | currency : 'USD'}}</h3>
<h3>{{slary | currency}}</h3>

<h3>{{slary | currency : 'INR'}}</h3>

<h3>{{slary | currency : '&euro;'}}</h3>

<h3>{{slary | currency : '&yen;'}}</h3>

<h3>{{slary | currency : 'USD' : 'code'}}</h3>

<h3>{{slary | currency : 'USD' : 'symbol'}}</h3>


<h4>{{dataObj | date}}</h4>
<h4>{{dataObj | date : 'short'}}</h4>
<h4>{{dataObj | date : 'medium'}}</h4>
<h4>{{dataObj | date : 'long'}}</h4>
<h4>{{dataObj | date : 'full'}}</h4>

<h4>{{dataObj | date : 'shortDate'}}</h4>
<h4>{{dataObj | date : 'mediumDate'}}</h4>
<h4>{{dataObj | date : 'longDate'}}</h4>
<h4>{{dataObj | date : 'fullDate'}}</h4>

<h4>{{dataObj | date : 'shortTime'}}</h4>
<h4>{{dataObj | date : 'mediumTime'}}</h4>
<h4>{{dataObj | date : 'longTime'}}</h4>
<h4>{{dataObj | date : 'fullTime'}}</h4>

<h4>{{dataObj | date : 'dd-MM-yyyy'}}</h4>
<h4>{{dataObj | date : 'hh:mm:ss a'}}</h4>
<h4>{{dataObj | date : 'fullTime':"UTC"}}</h4>
<h4>{{dataObj | date : 'fullTime':"IST"}}</h4>
<h4>{{dataObj | date : "EEEE"}}</h4>



<h4>Number Pipes</h4>
<h4>{{10000000000000000 | number}}</h4>
<h4>{{12.111222333 | number:"3.2-5"}}</h4>
<h4>{{12.1 | number:"3.2-5"}}</h4>
<h4>{{0.5 | percent}}</h4>


<div>{{ 'price' | number : '1.2-2' | currency }}</div>
<div>{{ 'name' | titlecase | slice : 0 : 10 }}</div>
<div>{{ 'today' | date | uppercase }}</div>




