<h3>{{userName | lowercase}}</h3>
<h3>{{userName | uppercase}}</h3>
<h3>{{userName | titlecase}}</h3>

<h3>{{slary | currency : 'USD'}}</h3>
<h3>{{slary | currency}}</h3>

<h3>{{slary | currency : 'INR'}}</h3>

<h3>{{slary | currency : '&euro;'}}</h3>

<h3>{{slary | currency : '&yen;'}}</h3>

<h3>{{slary | currency : 'USD' : 'code'}}</h3>

<h3>{{slary | currency : 'USD' : 'symbol'}}</h3>






<h1>{{dataObj | date}}</h1>
<h1>{{dataObj | date : 'short'}}</h1>
<h1>{{dataObj | date : 'medium'}}</h1>
<h1>{{dataObj | date : 'long'}}</h1>
<h1>{{dataObj | date : 'full'}}</h1>


<h1>{{dataObj | date : 'shortDate'}}</h1>
<h1>{{dataObj | date : 'mediumDate'}}</h1>
<h1>{{dataObj | date : 'longDate'}}</h1>
<h1>{{dataObj | date : 'fullDate'}}</h1>

<h1>{{dataObj | date : 'shortTime'}}</h1>
<h1>{{dataObj | date : 'mediumTime'}}</h1>
<h1>{{dataObj | date : 'longTime'}}</h1>
<h1>{{dataObj | date : 'fullTime'}}</h1>


<h1>{{dataObj | date : 'dd-MM-yyyy'}}</h1>
<h1>{{dataObj | date : 'hh:mm:ss a'}}</h1>
<h1>{{dataObj | date : 'fullTime':"UTC"}}</h1>
<h1>{{dataObj | date : 'fullTime':"IST"}}</h1>
<h1>{{dataObj | date : "EEEE"}}</h1>