/* From Uiverse.io by zjssun */ 
.button {
  padding: 8px 20px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
  margin-right: 20px;
}

