*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1320px;
    margin: auto;
    display: grid;

    grid-template-columns: 200px 1fr;
}

.header{
    background-color: green;
    padding: 10px;
}

.sidebar{
    background-color: blue;
    padding: 10px;
}

.content{
    background-color: yellow;
    padding: 10px;
}

.footer{
    background-color: red;
    padding: 10px;
}
