*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1320px;
    margin: auto;

    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;

    

    border: 3px solid blue;
}

.items{
    border: 1px solid #000;
    padding: 20px;
}