<div class="h-100 w-100 p-5">

    <select class="form-select mb-5" (change)="filterEmployees()" [(ngModel)]=" selectEmp">

        <option value="all">
            All Employees
        </option>

        <option value="male">
            Male Employees
        </option>

        <option value="female">
            Female Employees
        </option>

    </select>


    <table class="table table-bordered border ">
        <thead>
            <tr>
                <th>Name</th>
                <th>email</th>
                <th>Dept</th>
                <th>gender</th>
            </tr>
        </thead>

        <tbody>
            @for(item of employees; track $index){
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.dept}}</td>
                <td>{{item.gender}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>