*{
    margin: 0;
    padding: 0;
    background-color: #e7d8c4;
}
.container{
    background-color: #f5ede3;
    height: 60vh;
    width: 69vw;
    margin: 60px auto 0 auto;
    padding: 30px;
    border-radius: 20px;
}
.main{
     height: 100%;
     width: 100%;   
    display: flex;
    background-color: #f5ede3; 
}
.input-boxes{
    height: 100%;
    width: 50%;
    padding-right: 30px;
    background-color: #f5ede3; 

}

.cont-img{
height: 100%;
width: 50%;
background-color: #f5ede3; 


}
.input{
    background-color: #f5ede3; 
    display: flex;
    gap:50px; 
    padding-bottom: 30px;
}
.input-field{
    height: 40px;
    width: 14vw;
    background-color: #f5ede3;
}
.big-input{
    width: 32vw;
    height: 20vh;
    background-color: #f5ede3;
    margin-bottom: 44px;
}
.cont-button{
    background-color: #f5ede3;
    margin-left: 10vw;
   
}
.con-button{
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: large;
    color: #3c1c11;
    width: 10vw;
    background-color: #f5ede3; 
}
.start-image{
    height: 50vh;
    width: 34vw;
    background-color: #f5ede3; 
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 10px;
    
}

