* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}

.container{
    background: #eee;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 150px;

    gap: 20px;
}

.items1{
    background: orangered;

    /* grid-row-start: 2;
    grid-row-end: 3; */
    /* grid-column-start: 3;
    grid-column-end:4 ; */


    grid-row: 2/3;
    grid-column: 3/4;
    z-index: 1;

    /* grid-area: 2/3/3/4; */
}
.items2{
    background: yellowgreen;
    grid-row: 2/ span 2;
}
.items3{
    background: slateblue;
}
.items4{
    background: hotpink;
    grid-row: 2/3;
    grid-column: 2/4;
}
.items5{
    background: royalblue;
}
.items6{
    background: goldenrod;

    /* grid-row-start: 1;
    grid-row-end: 2; */
    /* grid-column-start: 1;
    grid-column-end:2; */

    grid-row: 1/2;
    grid-column: 1/ -1;

    /* grid-area: 1/1/2/3; */
}