<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Salary</th>
      <th>Department</th>

      <th>Is First</th>
      <th>Is Last</th>
      <th>Is Even</th>
      <th>Is Odd</th>

    </tr>
  </thead>
  <tbody>
    @for(emp of employees; track emp.id){
      <tr>
        <td>{{$index + 1}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.department}}</td>

        <td>{{$first}}</td>
        <td>{{$last}}</td>
        <td>{{$even}}</td>
        <td>{{$odd}}</td>
      </tr>
    }
  </tbody>
</table>



<table border="1">

  <thead>
    <tr>
      <th>Index</th>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Salary</th>
      <th>Department</th>
    </tr>
  </thead>

  <tbody>

    @for (emp of employees; track emp; let i = $index) {
      <tr>
        <td>{{i}}</td>
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.department}}</td>
      </tr>
    }

  </tbody>

</table>



<div [ngStyle]="{'background':'red'}">
    Hwllo
</div>