<div class="p-5">

    <app-employee-add (addEmp)="employeeAdd($event)"></app-employee-add>

    <table>

        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>

        <tbody>

            @for(emp of employees; track $index){

            <tr>
                <td>{{emp.name}}</td>
                <td>{{emp.department}}</td>
                <td>
                    <div>
                        <button (click)="deleteEmp(emp)">Delete</button>
                    </div>
                </td>
            </tr>

            }

        </tbody>

    </table>

</div>