<h3 class="text-center">User List</h3>

<div class="container">
    <div class="row">

        <!-- @for(user of userArr(); track $index){ -->

        <h3>userID: {{userId()}}</h3>
        <button class="btn btn-primary" (click)="increment()">+</button>
        <button class="btn btn-primary ml-4" (click)="deleteEffect()">Delete</button>
        <div class="col-md-4 mb-4">
            <div class="card shadow p-3">

                <div class="card-body">
                    <h5 class="card-title">{{ userData().name }}</h5>

                    <p class="card-text">
                        <strong>Username:</strong> {{ userData().username }}
                    </p>

                    <p class="card-text">
                        <strong>Email:</strong> {{ userData().email }}
                    </p>

                    <p class="card-text">
                        <strong>Phone:</strong> {{ userData().phone }}
                    </p>

                    <p class="card-text">
                        <strong>Website:</strong> {{ userData().website }}
                    </p>

                    <p class="card-text">
                        <strong>City:</strong> {{ userData().address.city }}
                    </p>
                </div>

            </div>
        </div>

        <!-- } -->

    </div>
</div>